<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Dhango</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  </style>
</head>

<body style="background-color: #fff; margin: 0; font-family: Inter, Helvetica, sans-serif;">
<div style="padding: 60px 20px 100px;background-color: #fff;">
  <div style="text-align: center;">
    {{#if LogoUri }}
      <img src="{{ LogoUri }}" alt="company-logo"/>
    {{else}}
      <p style="margin: 0; color: #344054; font-size: 24px; font-weight: 600; letter-spacing: -0.72px; font-family: Inter, Helvetica, sans-serif;">
        {{ CompanyName }}
      </p>
    {{/if}}
  </div>
  {{#if Header }}
    <h1 style="margin: 32px 0 0 0; color: #3288ec; font-family: Inter, Helvetica, sans-serif; font-size: 30px; font-weight: 600; letter-spacing: -0.9px; text-align: center;">
      {{ Header }}
    </h1>
  {{/if}}

  <div style="margin-top: 48px; padding: 24px 12px; border: 1px solid #e3eaef; border-radius: 16px;">
    <table style="width: 100%; border-collapse: separate; margin-bottom: 18px; padding: 0 20px;">
      <tr>
        <td style="width: 36px;">
          {{#equals TransactionEventType "Authorization"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #cdefff; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711113832/EmailIcons/event-authorization.png"
                   style="width: 24px;height: 24px;" alt="Authorization transaction icon"/>
            </div>
          {{/equals}}

          {{#equals TransactionEventType "Batch"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #f4ebfb; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711113864/EmailIcons/event-batch.png"
                   style="width: 24px;height: 24px;" alt="Batch transaction icon"/>
            </div>
          {{/equals}}

          {{#equals TransactionEventType "Capture"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #c8ffd4; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711113891/EmailIcons/event-capture.png"
                   style="width: 24px;height: 24px;" alt="Capture transaction icon"/>
            </div>
          {{/equals}}

          {{#equals TransactionEventType "Chargeback"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #ffdede; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711113925/EmailIcons/event-chargeback.png"
                   style="width: 24px;height: 24px;" alt="Chargeback transaction icon"/>
            </div>
          {{/equals}}

          {{#equals TransactionEventType "Payment"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #d0ffcc; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711113941/EmailIcons/event-payment.png"
                   style="width: 24px;height: 24px;" alt="Payment transaction icon"/>
            </div>
          {{/equals}}

          {{#equals TransactionEventType "Refund"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #dcebfd; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711113963/EmailIcons/event-refund.png"
                   style="width: 24px;height: 24px;" alt="Refund transaction icon"/>
            </div>
          {{/equals}}

          {{#equals TransactionEventType "Reject"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #ffeed4; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711113986/EmailIcons/event-reject.png"
                   style="width: 24px;height: 24px;" alt="Reject transaction icon"/>
            </div>
          {{/equals}}

          {{#equals TransactionEventType "Return"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #ffefef; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711114003/EmailIcons/event-return.png"
                   style="width: 24px;height: 24px;" alt="Return transaction icon"/>
            </div>
          {{/equals}}

          {{#equals TransactionEventType "Void"}}
            <div style="height: 36px;margin-right: 10px;padding: 6px;width: 36px;border-radius: 6px; background-color: #e9ecf4; box-sizing: border-box;">
              <img src="https://res.cloudinary.com/dhango/image/upload/v1711114017/EmailIcons/event-void.png"
                   style="width: 24px;height: 24px;" alt="Void transaction icon"/>
            </div>
          {{/equals}}
        </td>
        <td>
          <div style="color: #475467; font-size: 18px; font-weight: 600; font-family: Inter, Helvetica, sans-serif;">
            {{ TransactionEventType }}
          </div>
          <div style="color: #8a93a6; font-size: 12px; line-height: 18px; white-space: nowrap; font-family: Inter, Helvetica, sans-serif;">
            Transaction #{{ TransactionId }}
          </div>
        </td>
        <td style="color: #475467; font-size: 14px; font-weight: 400; text-align: right; font-family: Inter, Helvetica, sans-serif;">
          {{ TransactionDate }}
        </td>
      </tr>
    </table>

    <!-- events -->
    <!-- NOTE: Sendgrid template preview does not seem to render the section below even if length is > 0 but that still works with real email -->
    {{#greaterThan (length TransactionEventContexts) 0}}
      <div style="padding: 0 20px;">
        <table style="width:100%;border-collapse:collapse;">
          {{#each TransactionEventContexts}}
            <tr>
              <td valign="middle" style="padding: 16px 12px; width:18px;border-radius: 10px 0 0 10px;background-color:#ffefef;line-height:1px;">
                <img src="https://res.cloudinary.com/dhango/image/upload/v1711113760/EmailIcons/alert-circle.png"
                     style="height:18px;width:18px;" alt=""/>
              </td>
              <td valign="middle" style="padding: 16px 24px 16px 0; border-radius: 0 10px 10px 0;background-color: #ffefef;">
                <span style="color: #ed4145; font-size: 14px; line-height: 18px; font-family: Inter, Helvetica, sans-serif;">{{this}}</span>
              </td>
            </tr>

            <tr>
              <td style="height:8px; background-color:#fff;"></td>
              <td style="height:8px; background-color:#fff;"></td>
            </tr>
          {{/each}}
        </table>
      </div>
    {{/greaterThan}}

    <!-- transaction details -->
    <table style="width: 100%; border-collapse: separate; margin-top: 12px; padding: 0 20px;">
      <tr>
        <td style="padding-top: 7px; padding-bottom: 7px; width: 30%; color: #344054; font-size: 14px; font-weight: 500; font-family: Inter, Helvetica, sans-serif;">
          <strong>Payer</strong>
        </td>
        <td style="padding-left: 50px; width: 70%; color: #475467; font-size: 14px; font-weight: 400; font-family: Inter, Helvetica, sans-serif;">
          {{ Payer }}
        </td>
      </tr>
      {{#if EmailAddress}}
        <tr>
          <td style="padding-top: 7px; padding-bottom: 7px; width: 30%; color: #344054; font-size: 14px; font-weight: 500; font-family: Inter, Helvetica, sans-serif;">
            <strong>Email Address</strong>
          </td>
          <td style="padding-left: 50px; width: 70%; color: #475467; font-size: 14px; font-weight: 400; font-family: Inter, Helvetica, sans-serif;">
            {{ EmailAddress }}
          </td>
        </tr>
      {{/if}}
      {{#each CustomFields}}
        <tr>
          <td style="padding-top: 7px; padding-bottom: 7px; width: 30%; color: #344054; font-size: 14px; font-weight: 500; font-family: Inter, Helvetica, sans-serif;">
            <strong>{{ this.label }}</strong>
          </td>
          <td style="padding-left: 50px; width: 70%; color: #475467; font-size: 14px; font-weight: 400; font-family: Inter, Helvetica, sans-serif;">
            {{ this.value }}
          </td>
        </tr>
      {{/each}}
      <tr>
        <td style="padding-top: 7px; padding-bottom: 7px; width: 30%; color: #344054; font-size: 14px; font-weight: 500; font-family: Inter, Helvetica, sans-serif;">
          <strong>Customer ID</strong>
        </td>
        <td style="padding-left: 50px; width: 70%; color: #475467; font-size: 14px; font-weight: 400; font-family: Inter, Helvetica, sans-serif;">
          {{ CustomerID }}
        </td>
      </tr>
      <tr>
        <td style="padding-top: 7px; padding-bottom: 7px; width: 30%; color: #344054; font-size: 14px; font-weight: 500; font-family: Inter, Helvetica, sans-serif;">
          <strong>Order ID</strong>
        </td>
        <td style="padding-left: 50px; width: 70%; color: #475467; font-size: 14px; font-weight: 400; font-family: Inter, Helvetica, sans-serif;">
          {{ OrderID }}
        </td>
      </tr>
      <tr>
        <td style="padding-top: 7px; padding-bottom: 7px; width: 30%; color: #344054; font-size: 14px; font-weight: 500; font-family: Inter, Helvetica, sans-serif;">
          <strong>Payment Method</strong>
        </td>
        <td style="padding-left: 50px; width: 70%; color: #475467; font-size: 14px; font-weight: 400; font-family: Inter, Helvetica, sans-serif;">
          {{ PaymentMethod }}
        </td>
      </tr>
    </table>

    <table style="width:100%;">
      <tr><td style="height:24px;"></td></tr>
    </table>

    <!-- totals-->
    <table style="width:100%;border-collapse:separate;border-radius:16px;background-color:#f7f9fb;">
      <tr>
        <td colspan="3" style="height:16px;font-size:1px;color:#f7f9fb;">.</td>
      </tr>
      {{#greaterThan PayerFee 0}}
        <tr>
          <td valign="middle" style="padding:0 20px;width:22px;height:42px;text-align:center;">
            <img src="https://res.cloudinary.com/dhango/image/upload/v1711148244/EmailIcons/totals-sub-total.png"
                 style="height: 18px; width: 18px;" alt=""/>
          </td>
          <td style="height: 42px;vertical-align: middle;">
            <span style="color: #344054; font-size: 14px; font-weight: 600; font-family: Inter, Helvetica, sans-serif;">Sub Total</span>
          </td>
          <td style="padding:0 20px;color: #8a93a6; font-size: 16px; font-weight: 500; letter-spacing: -0.32px; text-align: right; font-family: Inter, Helvetica, sans-serif;">{{ CurrencyPrefix }}{{ SubTotal }}</td>
        </tr>
        <tr>
          <td valign="middle" style="padding:0 20px;width:22px;height:42px;text-align:center;">
            <img src="https://res.cloudinary.com/dhango/image/upload/v1711148190/EmailIcons/totals-payer-fee.png"
                 style="height: 18px; width: 18px; vertical-align: middle;" alt=""/>
          </td>
          <td style="height: 42px;">
            <span style="color: #344054; font-size: 14px; font-weight: 600; vertical-align: middle; font-family: Inter, Helvetica, sans-serif;">Payer Fee</span>
          </td>
          <td style="padding:0 20px;color: #8a93a6; font-size: 16px; font-weight: 500; letter-spacing: -0.32px; text-align: right; font-family: Inter, Helvetica, sans-serif;">
            {{ CurrencyPrefix }}{{ PayerFee }}
          </td>
        </tr>
      {{/greaterThan}}
      <tr>
        <td valign="middle" style="padding:0 20px;width:22px;height:42px;text-align:center;">
          <img src="https://res.cloudinary.com/dhango/image/upload/v1711148270/EmailIcons/totals-total.png"
               style="height: 18px; width: 18px; vertical-align: middle;" alt=""/>
        </td>
        <td style="height: 42px;">
          <span style="color: #344054; font-size: 14px; font-weight: 600; vertical-align: middle; font-family: Inter, Helvetica, sans-serif;">
            Total
        </span>
        </td>
        <td style="padding:0 20px;text-align: right; font-family: Inter, Helvetica, sans-serif; color: #101828; font-size: 30px; font-weight: 600; letter-spacing: -0.6px;">{{ CurrencyPrefix }}{{ Total }}</td>
      </tr>
      <tr>
        <td colspan="3" style="height:16px;"></td>
      </tr>
    </table>
  </div>
  <p style="margin: 22px 20px 0; color: #475467; font-size: 14px; font-weight: 400; line-height: 22px;">
    Thank you,<br/>
    {{ CompanyName }}
  </p>
</div>

<footer style="margin: 0; padding: 24px 24px 55px; background-color: #083a4a; text-align: center;">
  <p style="margin: 0; padding: 4px 0; color: #fff; font-size: 15px; font-weight: 400; line-height: 20px; text-align: center;">
    &#169; {{ Copyright }}
  </p>
  <p style="margin: 0; padding: 4px 0; color: #fff; font-size: 15px; font-weight: 400; line-height: 20px; text-align: center;">
    If you have any questions please contact us at <a href="mailto:{{ContactEmail}}">{{ ContactEmail }}</a>
  </p>
  <p style="margin: 0; padding: 4px 0; color: #fff; font-size: 15px; font-weight: 400; line-height: 20px; text-align: center;">
    {{ Address }}
  </p>
</footer>
</body>
</html>